*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wapper{
    margin: 50px auto;
    background-color: grey;
    width: 1000px;
    min-height: 400px;
    padding-bottom: 10px;
}

.screen{
    background-color: green;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.list-seat{
    margin: 50px auto;
    width: 900px;
    min-height: 400px;
}

.list-seat span{
    padding: 5px 0;
}

.row{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.seat{
    padding: 20px;
    background-color: lightgray;

}

.seat_saled{
    background-color: red;
}

.seat_click{
    background-color: green;
}
