.booking{
    display: flex;
    justify-content: space-around;
    padding-top: $pd-3;

    .ant-btn.ant-btn-primary{
        background-color: $color-grey-2;
        border-color: $color-grey-2;
        span{
            color: $color-white-1;
        }
    }

    .ant-select-selection{
        &:hover{
            border-color: $color-grey-2;
        }
        &:focus{
            border-color: $color-grey-2;
        }
    }
}


