.layout{
  .header{
      background-color: $color-white-1;
      width: 100%;
      position: fixed;
      z-index: 100000;
      #header__content{
        justify-content: flex-end;
      }
      .buttonBar__icon{
        i{
          font-size: $fs-3 + 5;
          color: $color-grey-1;
        }
      }
      .logo{
        img{
          width: 150px;
        }
      }

      .button__login{
        .login__img{
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-right: $pd-4;
        }
        .login__link{
          color: $color-grey-1;
          font-size: $fs-1;
        }
      }
  }
}