// black
$color-black-1: #000;
$color-black-2: #222;

//white
$color-white-1: #fff;

//orange
$color-orange-1: #fa5238;
$color-orange-2: #fb4226;
//grey
$color-grey-1: #949494;
$color-grey-2: #4a4a4a;

//blue
$color-blue-1: linear-gradient(to bottom,rgba(20,50,93,.9),rgba(8,22,48,.9));
$color-blue-2: #081630;
$color-blue-3: #455570;

//yellow
$color-yellow-1: #f7b500;

//green
$color-green-1: #108f3e;

//font size
$fs-1: 16px;
$fs-2: 14px;
$fs-3: 24px;
$fs-4: 20px;
$fs-5: 12px;

//padding

$pd-1: 75px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 15px;
$pd-5: 5px;
$pd-6: 2px;
//margin

$mr-1: 25px;
$mr-2: 15px;