// black
$color-black-1: #000;
$color-black-2: #222;

//white
$color-white-1: #fff;

//orange
$color-orange-1: #fa5238;

//grey
$color-grey-1: #949494;
$color-grey-2: #4a4a4a;

//font size
$fs-1: 16px;
$fs-2: 14px;
$fs-3: 24px;
$fs-4: 20px;
$fs-5: 12px;

//padding

$pd-1: 75px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 15px;

//margin

$mr-1: 25px;
